.perfil{
    display: flex;
    justify-content:space-between;
    .perfil-left{
        width: 28%;
        .foto-perfil{
            figure{
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .perfil-right{
        width: 70%;
        .valoracion{
            margin-bottom: 1rem;
        }
    }
}
.cnt-perfil{
    padding-top: 2rem;
    padding-bottom: 2rem;
}