.cards-abogados{
    display:grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(75%, 20rem),1fr));
     .card-abogado{
        padding: 1rem;
        border: 2px solid #0c55c3;
        background-color: rgb(255 255 255);
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
        &:hover{
            background-color: rgb(237 237 237);
        }
        h2{
            color: #0c55c3;
        }
        .specialty{
            margin-bottom: 0.5rem;
        }
    }
    .img-abogado{
        max-width: 200px;
        margin:0 auto;
        display:block;
    }
    .card-lawyer__text{
        text-align: center;
        }
    .start{
        font-size: small;
    }

}
.cnt-list{
    padding-top: 1rem;
    h1{
        color: #0c55c3;
    }
    .filter-abogados{
        display: flex;
        margin-bottom: 1rem;
        span{
            color: #0c55c3;
        }
        h3:first-child{
            margin-right: 0.5rem;
        }
    }
}