.box{
    display: flex;
    justify-content: center;
    
    }
.panel_izquierdo{
    
}
.panel_derecho{
   
    
}
h2{
    font-size: 24px;
    font-weight: 600;
}
.resena{
    height: 200px; 
    
}
