.box{
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 24px;
        font-weight: 600;
    }
    
}


.resena{
    height: 200px; 
    
}
.panel_izquierdo{
    width: 70%;
}
.panel_derecho{
    width: 27%;
}
.cnt-container{
    padding: 2rem 0;
}
.star{
    font-size: 30px;
    color:#0c55c3;
}
.cita{
    display: flex;
    align-items: center;
    
}

@media (max-width:760px){
    .panel_derecho{
        display: none;
    }
    .panel_izquierdo{
        width: 100%;
    }
    .foto{
        display: block;
        margin: 0 auto;
    }
}

