header{
    background-color: #0c55c3;
    height: 60px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.header-logo{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.menu-button{
    display: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width:550px){
    .menu-button{
        display: block;
    }
}