footer{
    background: #275165;
    height: 60px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    a{
        text-decoration: none;
        color: white;
    }
    p{
        color: white;
    }
}