.nav{
    ul{
        display:flex;
        list-style-type: none;
        margin-bottom: 0;
        li{
            margin-left: 10px;
            &:first-child{
                margin-left:0;
            }
            a{
                color: white;
            }
        }
    }
}

@media (max-width:550px){
    .nav{
        display: none;
        position: fixed;
        top: 60px;
        z-index: 1;
        left: 0;
        right: 0;
        background-color: #0c55c3;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        ul{
            display: block;
            text-align: center;
            li{
                padding: 1rem;
            }
        }
    }
    .active-nav{
        display: block;
    }
}