nav{
    ul{
        display:flex;
        list-style-type: none;
        li{
            margin-left: 10px;
            &:first-child{
                margin-left:0;
            }
            a{
                color: white;
            }
        }
    }
}